<a href="https://colab.research.google.com/github/kimthoa1652001/CS114.L21AndCS114.L22.KHCL/blob/main/D%E1%BB%B1_%C4%91o%C3%A1n_%C4%91i%E1%BB%83m_sinh_vi%C3%AAn.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/gdrive')

Drive already mounted at /content/gdrive; to attempt to forcibly remount, call drive.mount("/content/gdrive", force_remount=True).

In [ ]:
import pandas as pd
path1='/content/gdrive/MyDrive/score_training.csv'
path2='/content/gdrive/MyDrive/Diemcuoiky/wecode.csv'
df1=pd.read_csv(path1)
df2=pd.read_csv(path2)

**Data Discovery**

In [ ]:
df2.shape
df2.head()

   id  assignment_id  ...           created_at           updated_at
0   4              0  ...  2020-10-30 10:58:11  2020-10-30 10:58:19
1   5              0  ...  2020-10-30 11:07:09  2020-10-30 11:07:17
2   6              0  ...  2020-10-30 11:08:01  2020-10-30 11:23:36
3   7              0  ...  2020-10-30 11:11:41  2020-10-30 11:11:42
4   8              0  ...  2020-10-30 11:15:06  2020-10-30 11:15:07

[5 rows x 12 columns]

In [ ]:
count_user=df2.groupby("user_id")
print(len(count_user))

1159